body {
      color: #E1C7AE;
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
    }

    /*li::before {​​
    content: '- ';
    }​​
*/
    .photo {
      width: 100%;
      text-align: center;
    }
    
      .experience {
        font-size: 4em ;
        font-family : Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
        text-align: center ;
        color: white ;
      }
      #navigation {
       padding: 4px 20px ;
       background: #2C3544 ;
       color: #fff ;
       border: 1px solid #fff ;
       font: 1em "Trebuchet MS",Arial,sans-serif ;
       line-height: 1em ;
       text-align: center ;
       text-decoration: none ;
     }
     #navigation li {
      display: inline ;
      margin-right: 1px ;
      color: #fff ;
      background: #2C3544 ;
    }
    #navigation li a {
      padding: 4px 20px ;
      background: #2C3544 ;
      color: #fff ;
      border: 1px solid #fff ;
      font: 1em "Trebuchet MS",Arial,sans-serif ;
      line-height: 2em ;
      text-align: center ;
      text-decoration: none ;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
    }
    #navigation li a:hover, #navigation li a:focus, #navigation li a:active {
      background: #696969 ;
      text-decoration: underline ;
    }

    .contenu {
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-rows: 200px 435px 400px;
      grid-gap: 10px;
      background-color: #2C3544;
      color: #111;
      max-width: 100%;
      padding: 0 auto;
    }
    .projet__img {
      width: auto;
      height: 300px;
    }
    @media only screen and (min-width: 100px)  {
      .contenu {

        grid-template-columns: 100% auto;
        grid-template-areas:
        "contenu1   contenu1"
        "contenu2  contenu4"
        "... contenu3"
        /*"Cinq   Cinq"; */
      }
    }

    @media only screen and (min-width: 100px)   {
      .contenu {

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,70vh);
        
      }
     .contenu1 {
        grid-column: 1;
        grid-row: 1;
        background-color: #2C3544;
        color: #E1C7AE;
        border-radius: 5px;
        border: #E1C7AE 2px solid;
        padding: 20px;
        font-size: 150%;
      }
      .contenu2 { 
        grid-column: 2;
        grid-row: 1;
        background-color: #2C3544;
        color: #E1C7AE;
        border-radius: 5px;
        border: #E1C7AE 2px solid;
        padding: 20px;
        font-size: 150%;
        
      }
      .contenu3 {
        grid-column: 1;
        grid-row: 2;
        background-color: #2C3544;
        color: #E1C7AE;
        border-radius: 5px;
        border: #E1C7AE 2px solid;
        padding: 20px;
        font-size: 150%;
        
      }
      .contenu4 {
        grid-column: 2;
        grid-row: 2;
        background-color: #2C3544;
        color: #E1C7AE;
        border-radius: 5px;
        border: #E1C7AE 2px solid;
        padding: 20px;
        font-size: 150%;
      }
      .bénévole {
        color: #grey;
        font-weight: bold;
         font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
      }

      .Descript__Bénévole {
        font-weight: bold;
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
      }
      .button {
  background-color: #2C3544; /* Gris */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button2 {
  background-color: #E1C7AE; /* Gris */
  border: none;
  color: #2C3544;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  .footer {
display: flex;
  height: auto;
  background-color: #2C3544;
  flex-direction: row; /*row, row-reverse, column, column-reverse*/
  flex-wrap: wrap; /*nowrap (effacer margin et padding avec) | wrap | wrap-reverse*/
  justify-content: space-around; /*center, flex-start, flex-end, space-around, space-between*/ /*ça justifie en fonction des paramètres, c'est l'axe principal cad horizontal avec flex-direction : row et vertical avec flex-direction : column; */

  align-items: center; /*center, flex-start, flex-end, stretch, baseline, space-around, space-between*/ /*align-items est l'axe secondaire*/
  align-content: space-between; /*center, flex-start, flex-end, stretch, baseline space-around, space-between*/ /*On multiple lines only*/
  background-color: #2C3544;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 75px;
    font-family : Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;

}      
        
      
  /*.Cinq {
    grid-column: 2;
    grid-row: 4;
    background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
            
  }